{% extends "layout.html" %}


{% block dropdownbutton %}
<form action="", class="form-inline" method="post">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Selecteer tijd
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><input class="btn btn-default" type="submit" name="tijd" value="15 minuten"></li>
                <li><input class="btn btn-default" type="submit" name="tijd" value="30 minuten"></li>
                <li><input class="btn btn-default" type="submit" name="tijd" value="1 uur"></li>
              </ul>
</form>

{% endblock dropdownbutton %}
{% block content %}
<div class="accordion" id="accordionExample">
    <table style="width:100px;" class="table table-striped">
                <tr style="text-align: left">
                    <th>Applicatie</th>
                    <th style="text-align: center">id</th>
                    <th>Timestamp</th>
                    <th>Source ip</th>
                    <th>Destination</th>
                    <th>source country</th>
                    <th>document type</th>
                    <th>Unieke data</th>
                </tr>
           {% for alert in alert_list[::-1]%}
                {% if tijd1 <= alert.timestamp %}
                    <tr>
                      <td>{{ alert.application }}</td>
                      <td>{{ alert.id }}</td>
                      <td>{{ alert.timestamp }}</td>
                      <td>{{ alert.source_ip }}</td>
                      <td>{{ alert.destination_ip }}</td>
                      <td>{{ alert.source_country }}</td>
                      <td>{{ alert.document_type }} </td>
                      <td>
                          <p>

                              <button class="btn btn-secondary" style="width: 150px" type="button" data-toggle="collapse" data-target=#test aria-expanded="false" aria-controls="collapseExample">
                                Meer informatie {{loop.index}}
                              </button>
                          </p>
                          <div class="collapse" id=test>
                              <div class="test">
                                <table>
                              <tr>
                                  <th>Key</th>
                                  <th>Value</th>
                              </tr>
                                {% for key, value in alert.unieke_data.items() %}
                                        <tr><td>{{key}}</td> <td>{{ value }}</td></tr>
                                {% endfor %}
                          </table>
                              </div>
                          </div>
                      </td>
                    </tr>
                {% endif %}
            {% endfor %}
    </table>
    </div>
{% endblock content %}


