{% extends "layout.html" %}

{% block dropdownbutton %}
<form action="", class="form-inline" method="post">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><input class="btn btn-default" type="submit" name="tijd" value="15 minuten"></li>
                <li><input class="btn btn-default" type="submit" name="tijd" value="30 minuten"></li>
                <li><input class="btn btn-default" type="submit" name="tijd" value="1 uur"></li>
              </ul>
            </form>
{% endblock dropdownbutton %}

{% block content %}
{{ tijd }}
{{ tijd1 }}


    {{ histogram }}
    <h4>Totaal aantal alerts: {{lengte.lengte}}<br/></h4>

    {% for key in verwerkt_ip %}
        {{verwerkt_ip}}
    {% endfor %}

    {% for alert in alert_list[::-1] %}
        {% if tijd1 <= alert.timestamp %}
            <h5>{{ alert.application}}</h5>
            {{ alert.id}}<br/>
            {{ alert.timestamp}}<br/>
            {{ alert.source}}<br/>
            {{ alert.ip}}<br/>
            {{ alert.ip_country}}<br/>
        {% endif %}
    {% endfor %}
{% endblock content %}
