{% extends "layout.html" %}

{% block dropdownbutton %}
<form action="", class="form-inline" method="post">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><input class="btn btn-default" type="submit" name="tijd" value="15 minuten"></li>
                <li><input class="btn btn-default" type="submit" name="tijd" value="30 minuten"></li>
                <li><input class="btn btn-default" type="submit" name="tijd" value="1 uur"></li>
              </ul>
            </form>
{% endblock dropdownbutton %}

{% block content %}
    {% for ip in verwerkt_ip %}
        {{ ip }}
    {% endfor %}
{% endblock content %}

