{% extends "layout.html" %}
{% block content %}


<form action="", class="form-inline" method="post">
    <div class="settings">
        <button type="submit" class="btn btn-secondary">Submit</button>
        <table>
            <tr>
            <td>
            <div class="settings-landen" style="height: 500px; overflow-y: auto;">
             <table class="table table-striped">
                 <tr style="text-align: left">
                        <th>Landen</th>
                        <th>Score</th>
                 </tr>
                 {% for land in database_landen %}
                 <tr>
                        <td>{{ land.name }}</td>
                        <td>
                            <input name="{{land.name}}" placeholder="{{land.score}}">
                        </td>
                 </tr>
                 {% endfor %}
             </table>
            </div>
            </td>
            <div class="settings-applicatie">
            </div>
                <td style="width:100px"></td>
            <td>
            <div class="settings-frequentie" style="height: 500px; overflow-y: auto;">
                <table class="table table-striped">
                 <tr style="text-align: left">
                        <th>Frequentie</th>
                        <th>Score</th>
                 </tr>
                <tr>
                 {% for frequentie in database_frequentie %}
                    <tr><td>Tussen: {{ frequentie.value1 }} en {{ frequentie.value2 }}</td><td></td></tr>
                    <td>{{ frequentie.name }}</td>
                        <td>
                                <input name="{{frequentie.name}}" placeholder="{{frequentie.score}}">
                        </td>
                 </tr>
                 {% endfor %}
             </table>
            </div>
            </td>
            </tr>
        </table>
    </div>
</form>

{% for land in database_landen %}
    {{ land.name }}
{% endfor %}

{% endblock content %}



