{% extends "layout.html" %}

{% block visualise %}

<!-- bar chart canvas element -->
<div class="achter">
<div class="visualise-top">
    <br>
</div>
    <div class="visualise-left-border"><br></div>
<div class="visualise-left">
    <div class="canvas-container">
        <center><b>Top 10 aanvallers</b></center>
        <div class="tabel">
            <br>
            <table style="width:100%">
                <tr>
                    <th>IP-adres</th>
                    <th>Frequentie</th>
                    <th>Land</th>
                </tr>
           {% for key in sorted_d[:10] %}
                <tr>
                  <td>{{ key[0] }}</td>
                  <td>{{ key[1][0] }}</td>
                  <td>{{ key[1][1] }}</td>
                 </tr>
            {% endfor %}
                </table>
        </div>
    </div>
    <div class="canvas-histogram">
        <center><b>Histogram van alerts</b></center>
    <canvas id="myChart3" width="500" height="400"></canvas>
    </div>
</div>

<div class="visualise-right">
    <div class="canvas-landen">
        <center><b>Piechart aanval landen</b></center>
    <canvas id="myChart2" width="500" height="400"></canvas>
    <div id="js-legend" class="chart-legend">
    </div>
    </div>
    <div class="canvas-attacks">
        <center><b>Aantal aanvallen t.o.v. unique source ips</b></center>
    <canvas id="myChart4" width="500" height="400"></canvas>
    </div>
</div>
</div>
    <script>
        // Global parameters:
        // do not resize the chart canvas when its container does (keep at 600x400px)
        Chart.defaults.global.responsive = false;

        // define the chart data

        var chartData2 = {
          labels : [{% for item in verwerkt_landen %}
                       "{{item}}",
                     {% endfor %}],
          datasets : [{
              label: '{{ legend }}',
              fill: true,
              lineTension: 0.1,
              backgroundColor: [{% for key in verwerkt_landen %}
                                   "{{verwerkt_landen[key][1]}}",
                                   {% endfor %}],
              data : [{% for key in verwerkt_landen %}
                           {{verwerkt_landen[key][0]}},
                      {% endfor %}],
              spanGaps: false
          }]
        }

        var chartData3 = {
          labels : [{% for key in sorted_histogram[-10:] %}
                       "{{key[0]}}",
                     {% endfor %}],
          datasets : [{
              label: 'Histogram Alerts',
              fill: true,
              lineTension: 0.1,
              backgroundColor: "rgba(75,0,192,0.4)",
              data : [{% for key in sorted_histogram[-10:] %}
                           {{key[1]}},
                      {% endfor %}],
              spanGaps: false
          }]
        }

        var chartData4 = {
          labels : ["Attacks", "Unique src ip"],
          datasets : [{
              label: '{{ legend }}',
              fill: true,
              lineTension: 0.1,
              backgroundColor:
              ["rgba(75,192,192,0.4)",  "rgba(75,0,192,0.4)"],
              data : ["{{lengte['lengte']}}", "{{lengte_unique_ips}}"],
              spanGaps: false
          }]
        }

        // get chart canvas
        var ctx2 = document.getElementById("myChart2").getContext("2d");
        var ctx3 = document.getElementById("myChart3").getContext("2d");
        var ctx4 = document.getElementById("myChart4").getContext("2d");


        var myChart2 = new Chart(ctx2, {
          type: 'pie',
          data: chartData2,
          options:{
              responsive: false,
              legend: {
                 display: false,
                 position: 'right',
                 onClick: null,
                 maxWidth: 100,
              },
             }
        });
        var myChart3 = new Chart(ctx3, {
          type: 'line',
          data: chartData3,
          options: {
            maintainAspectRatio: false,
            scales: {
              xAxes: [{
                ticks: {
                  padding: 10
                }
              }]
            }
          }
        });

        var myChart4 = new Chart(ctx4, {
          type: 'horizontalBar',
          data: chartData4,
        });


    document.getElementById('js-legend').innerHTML = myChart2.generateLegend();
    </script>

{% for key in host_grade %}
    {{ key }} {{ host_grade[key][0] + host_grade[key][1] + host_grade[key][2]}}
{% endfor %}

{% endblock %}

